# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# macOS
.DS_Store
**/.DS_Store

#.DS_Store
#**/.DS_Store
*.swp
*.swo
*.tmp
#.vscode/
.idea/
.bundle/
.vendor/
# my scripts and reports
scripts/
scripts/*.csv
scripts/*.tsv
scripts/*report*
scripts/*_report*
scripts/*_reports*
scripts/reports/
scripts/*report*
